################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AcsWindowsSDKSamples/.vs/AcsWindowsSDKSamples
/AcsWindowsSDKSamples/obj
/.vs
